.share
  %a(href="https://twitter.com/share" data-url="http://www.evidenceupload.org" class="twitter-share-button" data-via="jbaudanza")
    Tweet
  .fb-like(data-href="http://www.evidenceupload.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false")
