.content
  %section
    %h3 Mission Statement

    %p
      We are a group of technology people trying to use our skills for the good
      of Boston. We all have a connection to Boston and its people, either
      through work or relationship.

    %p
      We created evidenceupload.org to provide a way for spectators of the Boston
      Marathon to easily bulk upload their photographs and video to the FBI.

    %p
      In the aftermath of the tragedy this week we struggled to find a way to express
      our desire to help. We're volunteers working on this project
      around the clock and still fine tuning things and listening to your feedback.
      But in the meantime, let’s do our best to get law enforcement everything
      they need.

    %h3 Contributors

    %em
      (Alphabetically)

    %p
      Nate Aune
      =link_to '@natea', 'http://www.github.com/natea'

    %p
      Jonathan Baudanza
      =link_to '@jbaudanza', 'http://www.github.com/jbaudanza'

    %p
      Jeremy Gailor
      =link_to '@jgailor', 'http://www.github.com/jgailor'

    %p
      Riley Guerin
      =link_to '@rileytg', 'http://www.github.com/rileytg'

    %p
      Jared Chung
      =link_to 'linkedin', 'http://www.linkedin.com/in/jaredchung'

    %p
      Keith Donaldson
      =link_to 'linkedin', 'http://www.linkedin.com/in/keithdonaldson/'

    %p
      Michael Ernst
      =link_to '@BeingErnst', 'http://www.twitter.com/BeingErnst'

    %p
      Barrie Robinson

    %p
      Steven Trevethan
      =link_to '@strevat', 'http://www.twitter.com/strevat'

    %h3 Thank you

    %a(href='http://filepicker.io') filepicker.io
    for providing free image hosting
