.content
  %section
    %h3 Thank you!
    %p
      We have successfully received your submission and will forward it to the 
      FBI. Thank you for your contribution!

    %p
      We are rapidly deploying new features, so
      %a(href='http://www.twitter.com/evidenceupload' target="_blank" )follow us on twitter
      for more updates.

    = render :partial => 'share'