@import "compass";
@import "compass/reset";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#f5fafa;
  color:#444;
  text-align:center;
  width: 960px;
  margin: 10px auto;
}
a {
  color: #68BDCE;
  text-decoration: none;
}
a:hover,
.active a {
  color: #60A4CA;
}

img {
  border: 0;
}

strong, b {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5 {
  font-family:"Quadon-Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3{
  font-family:"Quadon-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1.667em;
  line-height: 1.2em;
}

header {
  padding-top: 24px;
}

header p{
  color:#E93F68;
}

section {
  padding: 5%;
  p {
    display:block;
    max-width: 460px;
    margin:auto;
    font-size:0.889em;
    line-height: 1.5em;
    padding-bottom:12px;
  }
}

.evidence_batch {
  background-color: #eee;
}

div.content{
  background: white;
  box-shadow: 0 1px 2px white;
  max-width: 560px;
  border: 1px solid #F0F0F0;
  border-radius: 3px;
  margin-top: 24px;
  margin: 24px auto 36px;
}
div.file-uploader{
  margin: auto;
  background: #FAFAFA;
  border: 1px solid #F9F9F9;
  border-radius: 3px;

  table {
    width: 250px;
    margin: 0 auto;
  }
}

.share {
  width: 200px;
  margin: 15px auto;
  overflow: hidden;
  .fb-like, .twitter-share-button {
    display: block;
    float: left;
  }
  .twitter-share-button {
    margin-top: 5px;
  }

}


footer{
  ul {
    padding-left: 0;
    li {
      list-style: none;
      display: inline-block;
      padding: 0 12px;
    }
  }
}

.hide {
  display: none;
}

// Styling for progress bar ripped from bootstrap
.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #F7F7F7;
  background-image: -moz-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F5F5), to(#F9F9F9));
  background-image: -webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: -o-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);


  &.progress-striped .bar {
    background-color: #5BC0DE;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  }

  &.progress-info .bar {
    background-color: #4BB1CF;
    background-image: -moz-linear-gradient(top, #5BC0DE, #339BB9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#339BB9));
    background-image: -webkit-linear-gradient(top, #5BC0DE, #339BB9);
    background-image: -o-linear-gradient(top, #5BC0DE, #339BB9);
    background-image: linear-gradient(to bottom, #5BC0DE, #339BB9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
  }

  .bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0E90D2;
    background-image: -moz-linear-gradient(top, #149BDF, #0480BE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149BDF), to(#0480BE));
    background-image: -webkit-linear-gradient(top, #149BDF, #0480BE);
    background-image: -o-linear-gradient(top, #149BDF, #0480BE);
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }
}

/*
  Forms
*/

div.row{
  padding:6px 0;
}

label{
  display: inline-block;
  font-size: 0.722em;
  line-height: 1.385em;
  font-weight: 600;
  text-align:left;
  vertical-align:middle;
  width: 60px;
}
input[type=text], input[type=email], input[type=url], textarea{
  padding: 12px;
  @include border-radius(3px);
  border: 1px solid #C9C9C9;
  box-shadow: 0 1px 1px #E9E9E9 inset;
  max-width:166px;
  width:90%;
  vertical-align:middle;
}
textarea{
}
.custom-button{
  background: #FF7DA5;
  border: 0;
  @include border-radius(3px);
  box-shadow: 0 3px 0 #B63251;
  cursor:pointer;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;;
  color: white;
  font-weight: 600;
  font-size: .8em;
  padding: 18px 36px;

  &:hover {
    background:#F5577D;
    color: white;
  }

  &:active {
    background:#D6355C;
  }

  &:focus {
    outline:#E93F68 auto 3px;
  }

  &:disabled {
    background: #efefef;
    box-shadow: 0 3px 0 #e7e7e7;
    color: white;
    cursor: not-allowed;
  }
}


@media (max-width: 979px) {
  body {
    width: auto;
    padding: 10px;
  }
}
