body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#f5fafa;
  color:#444;
  text-align:center;
  width: 960px;
  margin: 10px auto;
}
a {
  color: #68BDCE;
  text-decoration: none;
}
a:hover,
.active a {
  color: #60A4CA;
}


img {
  border: 0;
}


h1, h2, h3, h4, h5 {
  font-family:"Quadon-Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  padding-top: 24px;
}

header p{
  color:#E93F68;
}

section {
  padding: 5%;
  p {
    max-width: 500px;
    font-size: 16px;
  }
}

div.content{
  background: white;
  box-shadow: 0 1px 2px white;
  max-width: 560px;
  border: 1px solid #F0F0F0;
  border-radius: 3px;
  margin-top: 24px;
  margin: 24px auto 36px;
}
div.file-uploader{
  margin: auto;
  padding: 20px;
  margin-top: 36px;
  background: #FAFAFA;
  border: 1px solid #F9F9F9;
  border-radius: 3px;
}

.custom-button{
  background: #E93F68;
  border: 0;
  cursor:pointer;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;;
  color: white;
  font-weight: 600;
  font-size: .8em;
  padding: 18px 36px;
  border-radius: 3px;
  box-shadow: 0 3px 0 #B63251;

  &:hover {
    background:#F5577D;
    color: white;
  }

  &:active {
    background:#D6355C;
  }

  &:focus {
    outline:#E93F68 auto 3px;
  }

  &:disabled {
    background: #ff7da5;
    color: white;
    cursor: wait;
  }
}

footer{
  ul {
    padding-left: 0;
    li {
      list-style: none;
      display: inline-block;
      padding: 0 12px;
    }
  }
}

.hide {
  display: none;
}

// Styling for progress bar ripped from bootstrap
.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #F7F7F7;
  background-image: -moz-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F5F5), to(#F9F9F9));
  background-image: -webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: -o-linear-gradient(top, #F5F5F5, #F9F9F9);
  background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);


  &.progress-striped .bar {
    background-color: #5BC0DE;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  }

  &.progress-info .bar {
    background-color: #4BB1CF;
    background-image: -moz-linear-gradient(top, #5BC0DE, #339BB9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#339BB9));
    background-image: -webkit-linear-gradient(top, #5BC0DE, #339BB9);
    background-image: -o-linear-gradient(top, #5BC0DE, #339BB9);
    background-image: linear-gradient(to bottom, #5BC0DE, #339BB9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
  }

  .bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0E90D2;
    background-image: -moz-linear-gradient(top, #149BDF, #0480BE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149BDF), to(#0480BE));
    background-image: -webkit-linear-gradient(top, #149BDF, #0480BE);
    background-image: -o-linear-gradient(top, #149BDF, #0480BE);
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }
}


@media (max-width: 979px) {
  body {
    width: auto;
    padding: 10px;
  }
}
