<!DOCTYPE html>
<html lang="en-US">
<html>
<head>
  <title>Evidenceupload</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="css/fonts.css" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/typeplate.css" />
  <link rel="stylesheet" href="css/breakpoints.css" />
  <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<%= yield %>

</body>
</html>
